.bodycss {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f8f9fa; /* 추가: 배경색 설정 */
}

.bodycss1 {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f8f9fa; /* 추가: 배경색 설정 */
}

nav {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0 20px; /* 좌우 여백을 20px로 설정 */
}
#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* Push footer to the bottom */
  background-color: #d4d4d4; /* Background color of the footer */
  padding-top: 25px; /* Add padding for content */
  text-align: center; /* Center-align content in the footer */
  width: 100%;
}

.navbar-nav .dropdown-menu {
  right: 5px;
  left: auto; /* 원하는 만큼 왼쪽으로 조정 */
}

/* 테이블 스타일 */
.custom-table {
  table-layout: fixed;
  width: 100%;
}

/* 테이블 행 스타일 */
.custom-table tbody tr {
  height: 40px;
}

/* Check 버튼 스타일 */
.custom-table .recommendation-btn {
  padding: 5px 10px;
}

.recommendation-btn {
  transition: background-color 0.3s ease-in-out;
}

.checked {
  background-color: green;
}

.not-checked {
  background-color: gray;
}

/* Remove the button border */
.btn {
  border: none;
}
.checked:hover {
  background-color: gray;
}
.not-checked:hover {
  background-color: green;
}
.table-container {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
}
.test_obj {
  background: url("/images/first.png");

  border: none;
  width: 210px;
  height: 260px;
  display: flex;
  align-items: flex-start; /* Align text to the top */
  margin: 0px 15px 0px 100px; /* Adjust margin to center the text vertically */
  cursor: pointer;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
  padding-left: 1dvh;
  padding-top: 2dvh; /* Adjust this value to control the space between the top and text */
}

.d-flex {
  display: flex;
  justify-content: center; /* 변경된 부분: 중앙 정렬로 변경 */
  align-items: center; /* 추가된 부분: 세로 중앙 정렬 설정 */
  flex-wrap: wrap;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
}

.read {
  background-color: green;
}

.not-read {
  background-color: red;
}

/* Remove the button border */

.read:hover {
  background-color: red;
}

.not-read:hover {
  background-color: green;
}

/* Display comment input when toggled to 'Read' */
.comment-input {
  display: none;
}
.read + .comment-input {
  display: block;
}

/* 모달 스타일 */
#modal.modal-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  z-index: 1000; /* 높은 z-index로 화면 상의 최상위 레이어로 표시 */
}

#modal .modal-window {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001; /* 모달 창을 오버레이 위로 표시 */
}

#modal .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#modal .close-area {
  cursor: pointer;
  font-size: 20px;
}

/* 테이블 스타일 */
.table th,
.table td {
  vertical-align: middle;
}

/* 모달 내용 스타일 */
#input-text {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* 버튼 스타일 */
.btn-open-modal {
  width: 100px;
}
#title {
  font-size: 20px;
}

/* 작은 화면에서 테이블 스타일 조정 */
@media (max-width: 576px) {
  .table td {
    word-break: break-word;
  }
}


.img{
  position: relative;
  background-image: url(images/wallpaper.jpg);                                                               
  height: 100vh;
  background-size: cover;
}

.img-cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);                                                                 
  z-index:1;
}

.img .content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);                                                                   
  font-size:5rem;
  color: white;
  z-index: 2;
  text-align: center;
}


.btn-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.btn-link:hover {
  background-color: #e9ecef;
}