<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <div class="container mt-5">
      <body class="bodycss">
        <h1 class="text-center mb-4">Book Wish List</h1>
        <table class="table table-bordered table-hover custom-table">
          <thead class="table-dark">
            <tr>
              <th id="title" style="width: 5%">Num</th>
              <th id="title" style="width: 40%">Title</th>
              <th id="title" style="width: 20%">Author</th>
              <th id="title" style="width: 15%">Comment</th>
              <th id="title" style="width: 10%">Check</th>
              <th id="title" style="width: 10%">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="book : ${books}">
              <td class="book-number"></td>
              <!-- 수정된 부분 -->
              <td th:text="${book.title}" class="align-middle"></td>
              <td th:text="${book.author}" class="align-middle"></td>
              <td class="align-middle">
                <button
                  class="btn btn-secondary btn-sm btn-open-modal"
                  th:data-book-id="${book.num}"
                  th:data-comment="${book.comment}"
                >
                  COMMENT
                </button>
              </td>
              <td class="align-middle">
                <button
                  class="btn btn-primary btn-sm toggle-btn recommendation-btn"
                  th:classappend="${book.count == 1} ? 'read' : 'not-read'"
                  th:attr="data-book-id=${book.num}, data-count=${book.count}"
                >
                  <span th:if="${book.count == 1}">Read</span>
                  <span th:if="${book.count == 0}">Not Read</span>
                </button>
              </td>
              <td class="align-middle">
                <button
                  class="btn btn-danger btn-sm delete-button"
                  th:attr="data-book-id=${book.num}"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table><br><br>

        <div id="modal" class="modal-overlay">
          <div class="modal-window">
            <div class="title">
              <h2>COMMENT</h2>
              <div class="close-area">X</div>
            </div>
            <div class="content">
              <textarea
                style="border: 1px solid rgb(0, 0, 0)"
                id="input-text"
                rows="10"
                placeholder="Enter your comment..."
              ></textarea>
              <button id="save-button" class="btn btn-secondary btn-sm">
                SAVE
              </button>
            </div>
          </div>
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const bookNumberCells = document.querySelectorAll(".book-number");
        
            bookNumberCells.forEach((cell, index) => {
              cell.textContent = index + 1;
            });
        
            const toggleButtons = document.querySelectorAll(".toggle-btn");
            const btnOpenModals = document.querySelectorAll(".btn-open-modal");
            const inputText = document.getElementById("input-text");
            const saveButton = document.getElementById("save-button");
        
            toggleButtons.forEach((button) => {
              button.addEventListener("click", function () {
                const bookId = this.getAttribute("data-book-id");
                const currentCount = parseInt(this.getAttribute("data-count"));
                const buttonSpan = this.querySelector("span");
        
                fetch(`/toggleRecommend/${bookId}`)
                  .then((response) => response.json())
                  .then((data) => {
                    if (data.success) {
                      this.setAttribute("data-count", data.newCount);
                      buttonSpan.textContent =
                        data.newCount === 1 ? "Read" : "Not Read";
        
                      if (data.newCount === 1) {
                        button.classList.add("read");
                        button.classList.remove("not-read");
                      } else {
                        button.classList.remove("read");
                        button.classList.add("not-read");
                      }
                    } else {
                      console.error("Failed to toggle recommendation");
                    }
                  })
                  .catch((error) => {
                    console.error("Error:", error);
                  });
              });
            });
        
            btnOpenModals.forEach((btnOpenModal) => {
              btnOpenModal.addEventListener("click", function () {
                const bookComment = this.getAttribute("data-comment");
                const bookId = this.getAttribute("data-book-id");
        
                inputText.value = bookComment || "";
        
                modalOn();
                saveButton.setAttribute("data-book-id", bookId);
              });
            });
        
            function modalOn() {
              const modal = document.getElementById("modal");
              modal.style.display = "flex";
            }
        
            const closeBtn = document.querySelector(".close-area");
            closeBtn.addEventListener("click", function () {
              modalOff();
            });
        
            saveButton.addEventListener("click", function () {
              const newText = inputText.value;
              const bookId = saveButton.getAttribute("data-book-id");
        
              const csrfToken = document
                .querySelector('meta[name="_csrf"]')
                .getAttribute("content");
              const csrfHeader = document
                .querySelector('meta[name="_csrf_header"]')
                .getAttribute("content");
        
              fetch(`/saveComment/${bookId}`, {
                method: "POST",
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                  [csrfHeader]: csrfToken,
                },
                body: `content=${encodeURIComponent(newText)}`,
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    alert("코멘트가 저장되었습니다.");
                    modalOff();
                    location.reload();
                  } else {
                    alert("코멘트 저장에 실패했습니다.");
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                  alert("오류가 발생하여 코멘트 저장에 실패했습니다.");
                });
            });
        
            function modalOff() {
              const modal = document.getElementById("modal");
              modal.style.display = "none";
            }
        
            document.querySelectorAll(".delete-button").forEach((button) => {
              button.addEventListener("click", function () {
                const csrfToken = document
                  .querySelector('meta[name="_csrf"]')
                  .getAttribute("content");
                const csrfHeader = document
                  .querySelector('meta[name="_csrf_header"]')
                  .getAttribute("content");
            
                const bookId = this.getAttribute("data-book-id");
                const parentRow = button.closest("tr");
            
                fetch(`/delete-book/${bookId}`, {
                  method: "DELETE",
                  headers: {
                    [csrfHeader]: csrfToken,
                  },
                }).then((response) => {
                  if (response.ok) {
                    parentRow.remove();
                    alert("책이 삭제되었습니다.");
                    location.reload(); // Reload the page after successful deletion
                  } else {
                    throw new Error("Failed to delete book");
                  }
                });
              });
            });
          });
        </script>
        
      </body>
    </div>
  </div>
</html>
