<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <div class="container mt-5">
      <body class="bodycss">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a
              th:href="@{/recommend/myemotion}"
              class="btn btn-primary btn-block mb-3"
              >Recommend</a
            >
            <a th:href="@{/books}" class="btn btn-primary btn-block mb-3"
              >Wish-List</a
            >
            <a
              th:href="@{/bookstore/list}"
              class="btn btn-primary btn-block mb-3"
              >Library</a
            >
          </div>
        </div>
      </body>
    </div>
  </div>
</html>
