<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Recommend-Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- ms-auto 클래스 추가 -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/recommend/myemotion}">Recommend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">WishList</a>
                </li>
                <li class="nav-item" style="margin-right: 30px ;">
                    <a class="nav-link" th:href="@{/bookstore/list}">Liabrary</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto"> <!-- ml-auto 클래스 추가 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" sec:authorize="isAnonymous()" th:href="@{/user/login}">Sign in</a>
                            <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Sign out</a>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}">
                            <a class="dropdown-item" th:href="@{/user/signup}">Sign up</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
