<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <div class="container mt-5">
      <body class="bodycss">
      <div class="row">
          <h1 class="text-center mb-4">Recommend Book List</h1>
        <div class="col text-end">
          <button id="refreshButton" class="btn btn-primary my-2">
            책 추천받기
          </button>
        </div>
      </div>
      <table class="table table-bordered table-hover custom-table">
        <thead class="table-primary">
          <tr>
            <th style="width: 8%">Num</th>
            <th style="width: 40%">Title</th>
            <th style="width: 25%">Author</th>
            <th style="width: 17%">Check</th>
        </tr>
        </thead>
        <tbody>
            <tr
                style="text-align: center"
                th:each="book, iterStat : ${books}"
                th:if="${book.checks == 0}"
            >
                <td th:text="${iterStat.count}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td>
                    <button
                        class="btn btn-primary toggle-btn recommendation-btn"
                        th:classappend="${book.checks == 1} ? 'checked' : 'not-checked'"
                        th:attr="data-book-id=${book.num}, data-count=${book.checks}"
                    >
                        <span th:if="${book.checks == 1}">Checked</span>
                        <span th:if="${book.checks == 0}">Would you read?</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
      <div class="text-end mt-2">
        <form method="post" th:action="@{/recommend/delete-checks-zero}">
          <button type="submit" class="btn btn-primary">확인</button>
        </form>
      </div>
    </div>
  </div>
</html>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const toggleButtons = document.querySelectorAll(".toggle-btn");
      const refreshButton = document.getElementById("refreshButton");

      toggleButtons.forEach((button) => {
        button.addEventListener("click", function () {
          const bookId = this.getAttribute("data-book-id");
          const currentCount = parseInt(this.getAttribute("data-count"));
          const buttonSpan = this.querySelector("span");

          fetch(`/toggleRecommendation/${bookId}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                this.setAttribute("data-count", data.newChecks);
                buttonSpan.textContent =
                  data.newChecks === 1 ? "Checked" : "Would you read?";

                // Update the button class based on the newCount
                if (data.newChecks === 1) {
                  button.classList.add("checked");
                  button.classList.remove("not-checked");
                } else {
                  button.classList.remove("checked");
                  button.classList.add("not-checked");
                }
              } else {
                console.error("Failed to toggle recommendation");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });

      refreshButton.addEventListener("click", function () {
        setTimeout(function () {
          window.location.reload();
        }, 1000);
      });
    });
  </script>
</html>