<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <div class="container mt-5">
      <body class="bodycss">
        <form th:object="${inputForm}" method="post">
          <div th:replace="~{form_errors :: formErrorsFragment}"></div>
          <h1 class="text-center mb-4">당신의 감정을 말해주세요.</h1>
          <textarea
            name="content"
            th:field="*{content}"
            id="content"
            class="form-control"
            rows="9"
          ></textarea>
          <form th:action="@{/recommend/list}" method="post">
            <br />
            <button type="submit" class="btn btn-dark my-2">책 추천받기</button>
          </form>
        </form>
      </body>
    </div>
  </div>
</html>
